<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
  <div>
    <img class="book-cover" src="<%= book.coverImagePath %>">
    <div class="book-details-btn-grid">
<<<<<<< HEAD
      <a class="btn btn-primary">Buy</a>
=======


      <!-- <a class="btn btn-primary">Buy</a> -->

      <form action="/baskets" method="POST">
        <%- book.bookPrice %>
        <div class="form-row form-row-end btn-row">
          <button class="btn btn-primary" type="submit">Buy</button>
        </div>
      </form>


>>>>>>> 08416b6b0f3b3dcaa255ee7f8590d816a8b52192
      <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
      <a class="btn btn-primary book-details-author-button" href="/authors/<%= book.author.id %>">View Author</a>
    </div>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Author:</div>
    <div><%= book.author.name %></div>
    <div class="book-details-label">Publish Date:</div>
    <div><%= book.publishDate.toDateString() %></div>
    <div class="book-details-label">Page Count:</div>
    <div><%= book.pageCount %></div>
    <div class="book-details-label">Description:</div>
    <div><%= book.description %></div>
    <div class="book-details-label">Price:</div>
    <div><%= book.bookPrice %></div>
  </div>
</div>
